<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.class_name }}</title>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/screen.css" media="screen"/>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="scripts/avatars.js"></script>
  </head>
  <body>
      <h1><a href="http://coltec-daw.github.io/">{{site.class_name}}</h1>
      <p class="class-year">
          <a href="/{{site.repository_name}}/2016.html">{{2016}}</a> |
          <a href="/{{site.repository_name}}/2017.html">{{2017}}</a> | 
          <a href="/{{site.repository_name}}/2018.html">{{2018}}</a> | 
          <a href="/{{site.repository_name}}/index.html">{{site.class_year}}</a> 
          
          - <a href="https://github.com/COLTEC-DAW/{{site.repository_name}}">Código Fonte</a>
      </p>
    {{ content }}
  </body> 
</html>
